/* line 6, ../scss/app.scss */
.container {
  width: 1400px;
  height: 100%;
  background-color: #EEE;
  margin: auto;
  position: relative; }
  /* line 13, ../scss/app.scss */
  .container > div {
    float: left;
    position: absolute; }
    /* line 16, ../scss/app.scss */
    .container > div > img {
      width: 100%;
      height: 100%; }
  /* line 22, ../scss/app.scss */
  .container .box-1-1 {
    width: 190px;
    height: 190px;
    background-color: blue; }
  /* line 28, ../scss/app.scss */
  .container .box-2-1 {
    width: 390px;
    height: 190px;
    background-color: green; }
  /* line 34, ../scss/app.scss */
  .container .box-1-2 {
    width: 190px;
    height: 390px;
    background-color: yellow; }
  /* line 40, ../scss/app.scss */
  .container .box-2-2 {
    width: 390px;
    height: 390px;
    background-color: red; }
