

.something {
    width: 100%;
    position: relative;
    margin: auto;
}

.jigsaw {
    width: 1400px;
    height: inherit;
    background-color: #DDD;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.jigsaw > div {
    float: left;
    position: absolute;
    font-size: 20px;
    font-family: arial; 
    opacity: 1;
    background-color: red;
}

.jigsaw .item.animate {
    -webkit-transition: -webkit-transform 0.1s;
    -webkit-transform: translate3d(0, 5000px, 0);
}

.jigsaw .item.animate.start {
    -webkit-transform: translate3d(0, 0px, 0);
}

.jigsaw > div > img {
    width: 100%;
    height: 100%; 
}

.jigsaw > div:hover {
    opacity: 0.8;
}

.load-more {
    text-align: center; 
}
