$tile-1: 190px;
$tile-2: 390px;



.container {
    width: 1400px;
    height: inherit;
    background-color: #EEE;
    margin: auto;
    position: relative;

    > div {
        float: left;
        position: absolute;
        font-size: 32px;
        font-family: arial;
        > img {
            width: 100%;
            height: 100%;
        }
    }

    .box-1-1 {
        // width: $tile-1;
        // height: $tile-1;
        background-color: blue;
    }

    .box-2-1 {
        // width: $tile-2;
        // height: $tile-1;
        background-color: green;
    }

    .box-1-2 {
        // width: $tile-1;
        // height: $tile-2;
        background-color: yellow;
    }

    .box-2-2 {
        // width: $tile-2;
        // height: $tile-2;
        background-color: red;
    }
}

.load-more {
    text-align: center;
}