
/* CONTAINER
************************************/
.container {
    max-width: 1100px;
    position: relative;
    margin: auto;
    overflow-x: hidden;
}

/* BUTTON
************************************/
.load-more {
    text-align: center;
    cursor: pointer;
}

/* FORM
************************************/
.json-form {
    text-align: center;
    padding: 20px;
}


/* JIGSAW STYLES
************************************/
.jigsaw {
    width: 1400px;
    height: 400px;
    background-color: #FEFEFE;
    margin: auto;
    position: relative;
    -webkit-transform: translate3d(0,0,0);
    /*overflow: hidden;*/
}

.jigsaw > div,
.jigsaw > a {
    float: left;
    position: absolute;
    font-size: 20px;
    font-family: arial; 
    opacity: 1;
    background-color: #DDD;
    display: none;

}

.jigsaw > div:hover,
.jigsaw > a:hover {
    opacity: 0.8;
}

.jigsaw .item.animate {
    -webkit-transition: opacity 0.5s;
    opacity: 0;
    /*-webkit-transform: translate3d(0, 5000px, 0);*/
}

.jigsaw .item.animate.start {
    opacity: 1;
    /*-webkit-transform: translate3d(0, 0px, 0);*/
}





/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+scss */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
    color: #f8f8f2;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #f8f8f2;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: #f92672;
}

.token.boolean,
.token.number {
    color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
    color: #e6db74;
}

.token.keyword {
    color: #66d9ef;
}

.token.regex,
.token.important {
    color: #fd971f;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}


